mysql/src/main/app/mysql.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:context="http://www.springframework.org/schema/context" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="root" database="swetha" doc:name="MySQL Configuration"/>
    <flow name="createtable">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/create" doc:name="HTTP" allowedMethods="POST"/>
        <db:execute-ddl config-ref="MySQL_Configuration" doc:name="Database">
            <db:dynamic-query><![CDATA[create table Accounts (ename varchar(10),eacno varchar(10),ephno varchar(10),eaddrs varchar(10))]]></db:dynamic-query>
        </db:execute-ddl>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-payload doc:name="Set Payload" value="table created#[payload]"/>
    </flow>
    <flow name="insert">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/inserting" doc:name="HTTP"/>
        <expression-component doc:name="Expression"><![CDATA[flowVars.ename =message.inboundProperties.'http.query.params'.ename;
flowVars.eacno=message.inboundProperties.'http.query.params'.eacno;
 flowVars.ephno=message.inboundProperties.'http.query.params'.ephno;
flowVars. eaddrs=message.inboundProperties.'http.query.params'.eaddrs;]]></expression-component>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:dynamic-query><![CDATA[insert into Accounts values ('#[flowVars.ename]','#[flowVars.eacno]','#[flowVars.ephno]','#[flowVars.eaddrs]')]]></db:dynamic-query>
        </db:insert>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-payload value="inserting values#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="update">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/update" doc:name="HTTP"/>
        <db:update config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[update Accounts set ename='swetha' where ename='ashok']]></db:parameterized-query>
        </db:update>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/delete" doc:name="HTTP"/>
        <db:delete config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[delete from Accounts where ename='ashok']]></db:parameterized-query>
        </db:delete>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
</mule>
